<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:720px; margin:50px auto;             box-shadow: rgba(123, 22, 212, 0.954) 0px 13px 27px -5px, rgba(116, 5, 213, 0.977) 0px 8px 16px -8px;
padding: 10px;
}



.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid rgb(194, 156, 225);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #49a5cc; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
    font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  width: 100%;
  background:#af28e0;
  border-radius:5px;
  font-weight:700;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  border:0;
  cursor:pointer;
  color:white;
  
}
[type="submit"]:hover { background:#1cc0dc; }

h1{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: white;
}
    </style>
</head>
<body>
    <form>      
       <center> <h1>Fill the Details</h1></center>
        <input name="name" type="text" class="feedback-input" placeholder="Name and father’s namef the person dead/injured
   " />   
        <input name="email" type="text" class="feedback-input" placeholder="Full Address of the person dead/injured " />
        <input name="email" type="text" class="feedback-input" placeholder="Age of the person dead/	injured	 " />
        <input name="email" type="text" class="feedback-input" placeholder="Occupation of the person dead /	injured	" />
        <input name="email" type="text" class="feedback-input" placeholder=" Name and address of the employer		---
        of the deceased or injured if any.	
     " />
        <input name="email" type="text" class="feedback-input" placeholder=" Does the person in respect  of whom 
        compensation claimed pay Income Tax ?
        If so, state the amount of income	 tax to		---
        be supported by documentary evidence 
            
     " />
     <input name="email" type="text" class="feedback-input" placeholder=" Name and address of the employer		---
        of the deceased or injured if any.	
     " />
     <input name="email" type="text" class="feedback-input" placeholder=" Name and address of the employer		---
        of the deceased or injured if any.	
     " />
     <input name="email" type="text" class="feedback-input" placeholder=" Name and address of the employer		---
        of the deceased or injured if any.	
     " />
     <input name="email" type="text" class="feedback-input" placeholder=" Name and address of the employer		---
        of the deceased or injured if any.	
     " />
    
        <input type="submit" value="SUBMIT"/>
      </form>
</body>
</html>